.sidebar {
  flex: 0.2;
  padding: 18px 40px;
  position: sticky;
  top: 0;
  height: 100%;
}
.sidebar__logo {
  color: white;
  font-size: 1.6rem;
}

.sidebar__navs {
  margin-top: 20px;
}

.sidebar__tweetBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 50px;
  background-color: var(--twitter-blue);
  border-radius: 30px;
  color: #fff;
  font-size: 1.2rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  border: none;
  margin-top: 17px;
}

.sidebar__user {
  margin-top: 40px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.sidebarUser__profile {
  display: flex;
  align-items: center;
}
.sidebarUser__profile > img {
  width: 40px;
  object-fit: cover;
  border-radius: 50px;
  margin-right: 10px;
}
.sidebarUser__name > p.username {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
}
.sidebarUser__name > p.name {
  font-family: 'Roboto', sans-serif;
  color: var(--little-dark);
  font-size: 0.7rem;
  font-weight: 600;
}
.links {
  text-decoration: none;
}
