.signUp {
  display: flex;
}
.signUp__right {
  width: 55%;
}
.signUp__right > img {
  width: 100%;
  height: 574px;
}

.signUp__left {
  padding: 30px 60px;
}

.bird__icon {
  font-size: 2.5rem;
  margin-bottom: 60px;
}

.signUp__detail > h1 {
  font-size: 4rem;
  font-weight: 900;
  margin-bottom: 40px;
}

.signUp__detail > h3 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 40px;
}
.signUp__btn {
  margin-bottom: 50px;
}
.signUp__btn > button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 300px;
  border: none;
  background-color: #1a8cd8;
  color: #fff;
  border-radius: 25px;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 7px;
  transition: 300ms;
  cursor: pointer;
}

.signUp__btn > button:hover {
  background: #0e71b3;
}
.signUp__btn > p {
  color: #585757;
  font-size: 0.8rem;
}
.signUp__btn > p > span {
  color: #1a8cd8;
}

.signIn__btn > button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 300px;
  border: 0.5px solid #585757;
  color: #1a8cd8;
  background-color: #000;
  border-radius: 25px;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 27px;
  transition: background 300ms;
  cursor: pointer;
}

.signIn__btn > button:hover {
  background: rgba(26, 140, 216, 0.2);
}

.signUp__footer {
  padding: 15px;
}
.signUp__footer > ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}

.signUp__footer > ul > li {
  margin-right: 20px;
  margin-bottom: 6px;
  font-size: 0.9rem;
  color: #585757;
}
.signUp__footer > ul > li:hover {
  text-decoration: underline;
  cursor: pointer;
}

.app__modal {
  background-color: #000;
  width: 45%;
  height: 85%;
  margin: 50px auto;
  border-radius: 15px;
  padding: 15px 20px;
}
