.trends {
  flex: 0.33;
  position: sticky;
  top: 0;
  height: 100%;
}

.trends__top {
  width: 80%;
  margin: 20px auto;
}
.trends__search {
  width: 100%;
  background-color: #16181c;
  padding: 10px 15px;
  border-radius: 20px;
}
.seach__icon {
  font-size: 1.1rem;
  margin-right: 15px;
}
.trends__search > input {
  outline: none;
  border: none;
  background: none;
  width: 80%;
  height: 100%;
  color: #fff;
  font-size: 1rem;
}

.trends__bottom {
  width: 90%;
  margin: 20px auto;
  background-color: #16181c;
  border-radius: 10px;
  padding: 20px 10px;
}
.trends__bottom > h3 {
  font-size: 1.3rem;
}

.trends__bottom > ul {
  list-style: none;
}

.trends__bottom > ul > li {
  margin: 30px 0;
  font-size: 1rem;
  font-weight: 300;
}
