:root {
  --twitter-blue: #1a8cd8;
  --little-dark: #585757;
  --black: #000;
}
ody {
  background-color: var(--black);
  color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.app {
  display: flex;
}
.hide {
  display: none;
}
.disabled {
  cursor: not-allowed;
}
